<html>
  <body>
    <form method="POST" action="/new">
      <h1>New Message</h1>
      <label>Author:
        <input name="sender" type="text" required>
      </label>

      <label>Message:
        <input name="text" type="text" required>
      </label>

      <button type="submit">Send</button>
    </form>
  </body>
</html>