<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= message.user %>'s message</h1>
        <ul>
            <li>Message: <%= message.text %></li>
            <li>Timestamp: <%= message.added %></li>
        </ul>
    </body>
</html>